.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--space-md);
  padding: 20px var(--space-xl) var(--space-lg);
  max-width: 1440px;
  margin: 0 auto;
}

.grid > * {
  flex: 0 0 calc((100% - 3 * var(--space-md)) / 4);
  min-width: 280px;
}
